<main>
  <div class="wrapper">
    <article class="flow">
      <h1>Wrapped flex lines</h1>
      <figure class="callout">
        <p>
          In this example the flex container has <code>flex-wrap: wrap</code> so the
          flex items display at max-content size and wrap onto new lines.
        </p>
      </figure>
      <div class="container">
        <div class="container" style="flex: auto;">
          <div class="box">Item One</div>
          <div class="box">Item two</div>
        </div>
        <div class="container">
          <div class="box1">Item One</div>
        </div>
      </div>
      
    </article>
  </div>
</main>