<figure class="callout">
  <p>A callout with a nice, decorative icon. The icon is added with a <code>::before</code> pseudo-element, which sets inline SVG with <a href="https://css-tricks.com/lodge/svg/09-svg-data-uris/">a data URI</a>, via the <code>background</code> property.</p>
</figure>

<!-- <main>
  <div class="wrapper">
    <article class="flow">
      <h1>The <code>::backdrop</code> pseudo-element</h1>
      <figure class="callout">
        <p>
          Open this video in full screen to see the <code>goldenrod</code> backdrop.
        </p>
      </figure>
      <video src="https://storage.googleapis.com/web-dev-assets/hands-on-portals/portals_vp9.webm" controls></video>
    </article>
  </div>
</main> -->

<main>
  <div class="wrapper">
    <article class="flow">
      <h1>The <code>::marker</code> pseudo-element</h1>
      <figure class="callout">
        <p>
          Using <code>::marker</code> pseudo-element, you can style the markers of the
          <code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code> and
          <code>&lt;summary&gt;</code> elements.
        </p>
      </figure>
      <ul>
        <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
        <li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
        <li>Curabitur blandit tempus porttitor.</li>
      </ul>
      <ol>
        <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
        <li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
        <li>Curabitur blandit tempus porttitor.</li>
      </ol>
      <details>
        <summary>Open for some more content</summary>
        <p>
          Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere
          consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem
          lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius
          blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros. Donec sed odio dui. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac
          facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula
          ut id elit.
        </p>
      </details>
    </article>
  </div>
</main>
<label for="email">Email address</label>
<input type="email" placeholder="E.G name@example.com" id="email" />