@model IEnumerable<WeatherForecast>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model != null)
    {
        @foreach(var we in Model)
        {
            <h1 class="display-4">@we.Date - @we.TemperatureC</h1>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
