<h2>Menus</h2>
<ul *ngFor="let route of routes">
  <a [routerLink]="['/', route.path]">{{route.path}}</a>
</ul>
<h2>refs</h2>
<ul>
  <li><a href="https://web.dev/learn/css/layout/">https://web.dev/learn/css/layout/</a></li>
  <li><a href="https://www.thenoodleincident.com/tutorials/box_lesson/boxes.html">https://www.thenoodleincident.com/tutorials/box_lesson/boxes.html</a></li>
  <li><a href="https://24ways.org/2019/a-history-of-css-through-15-years-of-24-ways/">https://24ways.org/2019/a-history-of-css-through-15-years-of-24-ways/</a></li>
</ul>

