.container {
  display: grid;
  grid-template-columns: auto max-content auto;
  grid-template-rows: 100px auto;
  gap: 10px;
  background-color: var(--color-stroke);
  padding: 1em;
  max-width: 30rem;
}

.box{
  padding: 5px;
  border: 1px solid #ddd;
  font-weight: 500;
  text-align: left;
}