@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('/images/group-people-wave.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }
</style>
<div class="container">
    @*<div class="center">
        <img class="logo" src="~/images/logo.png" />
    </div>*@
    <h4 class="header center" style="font-weight: bold; mả">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h4>
    <p class="main-title-desc center">Khảo sát dịch vụ tại ALTIELTS gia sư</p>
    <div class="center">
        <a href="/Home/Login" class="waves-effect waves-light btn-small start-button red">Bắt đầu</a>
    </div>
    <div class="center">
        <img class="img-people-star" src="~/images/group-people.svg" />
    </div>
    
</div>

