<div class="my-parent">
	<p>A paragraph</p>
	<div>A div</div>
	<div>Another div</div>
</div>
<article>
  <ul>
    <li>I am one of many list items</li>
    <li>I have a highlight because I am the second child</li>
    <li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
    <li>Cras mattis consectetur purus sit amet fermentum.</li>
  </ul>
</article>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£123.40</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£70.40</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£333.33</td>
    </tr>
        <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£123.40</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£70.40</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet</td>
      <td>£333.33</td>
    </tr>
  </tbody>
</table>
<article>
  <p>The only <strong>bold element</strong> in this paragraph gets a highlight style. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</article>
<article>
  <p>The only <strong>bold element</strong> <strong>bold element</strong> in this paragraph gets a highlight style. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</article>
<article>
  <p>The only <strong>bold element</strong> <strong>bold element</strong> in this paragraph gets a highlight style. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <h2>The only <strong>bold element</strong> <strong>bold element</strong> in this paragraph gets a highlight style. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
  <img  src="http://source.unsplash.com/CiFaYIvZyyA/800" />

</article>